@import "./colors/mocha.css";

* {
    all: unset;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 10px;
    font-weight: bold;
}

window#waybar {
    background-color: @crust;
    color: @text;
}

#window {
}

button {
}

button:hover {
}

#workspaces button {
    padding: 0 4px;
}

#workspaces button.focused {
    /* background-color: rgba(0, 0, 0, 0.3);
    color: @rosewater;
    border-top: 2px solid @rosewater; */
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.3);
    color: @mauve;
    border-top: 2px solid @mauve;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad,
#custom-power {
    padding: 4px 8px;
}


#pulseaudio {
    color: @blue;
}

#network {
    color: @yellow;
}

#power-profiles-daemon {
}

#cpu {
}

#idle_inhibitor {
    margin-right: 12px;
    color: #7cb342;
}

#idle_inhibitor.activated {
    color: @red;
}
/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}
